.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    margin-top: 16px;
    padding: 10px 24px;
    border-radius: 8px;
}

.meta {
    font-size: 1.5rem;
}

.content {
    padding: 10px 0;
}
