// .wrapper {
//   display: flex;
//   justify-content: center;
// }

.hero {
  margin-top: 10px;
}

.breadcrumb {
  font-size: 1.4rem;
  a {
    text-decoration: none;
    font-weight: 500;
    color: #222;
  }
  .separator {
    margin: 0 4px;
  }

  .current {
    font-weight: 500;
    color: #222;
  }
}

.headline {
  .title {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 4px 0;
  }

  .desc {
    font-size: 1.4rem;
    color: #555;
    margin: 0;
  }
}
