// .wrapper {
//     display: flex;
//     flex-direction: column;
//     text-align: center; 
// }


.banner {
    text-align: center;
    width: 100%;
    background-color: rgba(2, 127, 255, 1);
    position: relative;
    z-index: 1000;
}

@media (max-width: 1024px) {
    .banner {
        display: none;
    }
}

