.section {
  padding: 16px 0 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 12px;
}

.card-wrapper {
  display: block;
  height: 100%;
   text-decoration: none;   /* ✅ bỏ gạch chân */
  color: inherit;          /* ✅ không xanh */
}

@media (max-width: 1199px) {
  .grid-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 767px) {
  .grid-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
  }
}

@media (max-width: 359px) {
  .grid-list {
    grid-template-columns: 1fr;
  }
}

