.banner-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}




/* BANNER TRÊN: 1 lớn + 2 nhỏ phải */
.section-banner {
  width: 100%;
  display: flex;
  gap: 15px;
}

.section-banner1 {
  flex: 2;
}

.section-banner2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section-banner img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* 4 SUBBANNER DƯỚI */
.section-subbanner {
  display: flex;
  gap: 1.3%;
  flex: 1;
}

.section-subbanner__item {
  width: 24%;
}

.section-subbanner__item img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.fade {
  animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.01);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1023px) {
  .banner-wrapper {
    width: 100%;
    
  }

  .section-banner {
    flex-direction: column;
  }

  .section-banner2 {
    flex-direction: row;
  }
  
  .section-banner2,
  .section-banner2 img{
    display: none;
  }
}