<footer class="bg-dark text-white text-center text-lg-start mt-5">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase text-warning">Phone Store PTIT</h5>
        <p>
          Hệ thống bán lẻ điện thoại chính hãng uy tín hàng đầu.
          <br />Địa chỉ: Học viện Công nghệ Bưu chính Viễn thông.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Hỗ trợ</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white text-decoration-none"
              >Chính sách bảo hành</a
            >
          </li>
          <li>
            <a href="#!" class="text-white text-decoration-none"
              >Chính sách đổi trả</a
            >
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Liên hệ</h5>
        <ul class="list-unstyled mb-0">
          <li><i class="bi bi-facebook"></i> Facebook</li>
          <li><i class="bi bi-telephone"></i> Hotline: 1900 1000</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2025 Copyright: <a class="text-white" href="/">PhoneStore.vn</a>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
