.gallery-wrapper {
  margin-bottom: 20px;
}

.main-image {
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;

  img {
    max-width: 250px;
    height: auto;
    object-fit: contain;
  }
}

.thumbnails {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;

  li {
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 60px;
    height: 60px;

    &.active,
    &:hover {
      border-color: #e30019;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
