.info-wrapper {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.product-name {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  line-height: 1.3;
  margin-bottom: 10px;
}

.meta {
  font-size: 14px;
  color: #666;
  
  .divider {
    margin: 0 10px;
    color: #ddd;
  }
}